html, body {
    background-color: black;
}

#square {
    position: absolute;
    left: 50%;
    top: 50%;
    background: transparent url('../img/peek.jpg') no-repeat;
    background-size: contain;
    width: 750px;
    height: 500px;
    margin-left: -375px;
    margin-top: -250px;
    transition: transform 0.3s;
}
